@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --extra-dark-cyan: hsl(179, 100%, 13%);
    /*Paragraphs */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    /*Background, headings, buttons */
    --light-gray: hsl(0, 0%, 95%);
}

body { 
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--light-gray);
}

.container { 
    display: grid;
    grid-auto-flow: column;
    max-width: 57.5rem;
    overflow: hidden;
    border-radius: 0.5rem;
    margin-top: 8rem;
}

h1 { 
    color: var(--light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.65em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.3rem;
}

p {
    line-height: 1.7;
    color: var(--transparent-white);
    margin-bottom: 5.2rem;
}

.card { 
    padding: 3rem;

}

.sedans {
    background-color: var(--bright-orange);
}

.suvs { 
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--extra-dark-cyan);
}

.icon { 
    margin-bottom: 1.9rem;
    animation: dropIn 1s ease forwards;
    animation-delay: calc(var(--order) * 100ms);
}

@keyframes dropIn {
    from {
        transform: translateY(-500px);
        opacity: 0;
    }

    to { 
        transform: translateY(0);
        opacity: 1;
    }
}

.icon img {
    display: block;
}

button {
    font-size: 0.9em;
    font-family: 'Lexend Deca', sans-serif;
    padding: 0.75rem 2rem 0.75rem 2rem ;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    mix-blend-mode: screen;
    border: solid 2px transparent;
    background-color: var(--light-gray);
    animation: paint 500ms ease-in forwards;
}  

button:hover {
    animation: disolve 500ms ease-in forwards;
}

@keyframes paint {   
    from {
        border: solid 2px var(--light-gray);
        color: var(--light-gray);
        background: none;
    }
    
    to {
        background-color: var(--light-gray);
    }
}

@keyframes disolve {   
    from {
        background-color: var(--light-gray);
    }
    
    to {
        border: solid 2px var(--light-gray);
        color: var(--light-gray);
        background: none;
    }
}

@media only screen and (max-width: 950px) {
    .container {
        max-width: 20rem;
        grid-auto-flow: row;
        margin-top: 4rem;
    }

    .icon {
        animation: none !important;
    }

    button, button:hover {
        animation: none !important;
        background-color: var(--light-gray);
    }

    p { 
        margin-bottom: 2rem;
    }

    .attribution {
        margin: 2rem;
    }
}